# このファイルは、このプロジェクトの.gitignoreとして使われるだけでなく、
# ~/.gitignoreとしても使用される。

# ~/.gitignore用の設定
.DS_Store
a.out
a.c

# dotfiles/.gitignore用の設定
/.emacs.d/vendor/
/.emacs.d/elpa/
/.emacs.d/auto-save-list/
/.emacs.d/url/
/.emacs.d/bookmarks
/.emacs.d/tramp
/.emacs.d/.cask

/,

# ignore PHPStorm dir
/.idea/


