[include]
        path = .gitconfig.local
[user]
        # name,emailは.gitconfig.localに書く
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	di = diff
	brr = branch -r
	plf = pull --ff-only
	pi = cherry-pick
	cp = cherry-pick
[push]
	default = current
[color]
	ui = auto
[core]
	pager = lv -c
