# このファイルは、このプロジェクトの.gitignoreとして使われるだけでなく、
# ~/.gitignoreとしても使用される。

# ~/.gitignore用の設定
.DS_Store

# dotfiles/.gitignore用の設定
/.emacs.d/vendor/
/.emacs.d/elpa/
/.emacs.d/auto-save-list/
/.emacs.d/url/
/.emacs.d/bookmarks
/.emacs.d/tramp
/.emacs.d/.cask

# C言語
a.out
