[user]
        name  = DQNEO
        email = dqneoo@gmail.com
[alias]
        ## very convenient / used often
        alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1 => \\2/' | sort
        delete-merged-branch = !git branch --merged | grep -v '^\\*' | xargs -n 1 git branch -d
        st = status
        co = checkout
        cp = cherry-pick
        di = diff
        grepi = grep -i
        review = diff origin/master...

        dw = diff --color-words --word-diff-regex='\\w+|[^[:space:]]'
        dc = diff --cached
        dwc = diff  --word-diff-regex='\\w+|[^[:space:]]' --cached
        dcw = !git dwc
        b  = branch
        br = branch
        sp = show -p
        amend = commit --amend
        ci = commit
        d  = diff
        a = add
        brr = branch -r
        rmt = remote

        # newly added
        empty = commit --allow-empty -m 'empty commit'

        # not used recently
        plf = pull --ff-only
        rp = rev-parse

        # will be removed
        log1 = log --graph --pretty='%Cred%h%Creset - %Cgreen[%an]%Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset %s' --abbrev-commit --date=iso
        log2 = log --graph --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue[%an]%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

        mm = merge origin/master
[push]
        default = current
[color]
        ui = auto
[core]
        excludesfile = ~/.gitignore

[ghq]
        root = ~/src
[rebase]
        autostash = true
[stash]
        showPatch = true
[diff]
#	compactionHeuristic = true
#	colorMoved = zebra
[help]
	autocorrect = 1
[fetch]
	prune = true
[protocol]
	version = 2
