[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".emacs.d/yasnippet-snippets"]
	path = .emacs.d/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
